body {
    background-color: #282d35;
    color: #fff
}

main {
    text-align: center;
    padding: 55px 25px;
}

.mainHeading {
    font-size: 60px;
    margin: 0;
    letter-spacing: -0.05em
}

.reactFacts {
    margin-top: 40px;
    text-align: left;
}

.reactFacts>li {
    padding-block: 8px;
    line-height: 20px;
    font-size: 20px;
}

.reactFacts > li::marker{
    font-size: 1.5rem;
    color: #61dafb;
}